<div class="center jumbotron">
  <h1>Welcome to the ToDo Manager</h1>

  <h2>This application supports your ToDo management.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
